@{
    ViewData["Title"] = "Home Page"; 
    @* Layout = "_MyCustomLayout"; // Will use a different layout called "_MyCustomLayout.cshtml" instead in the Shared folder; make sure the cshtml file has the @RenderBody() annotation in there!! *@
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
