@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <form method="post" action="/process">
        <label for="name">Please give your name:</label>
        <input name="name" id="name">
        <input type="submit" value="Submit" class="btn btn-primary">
    </form>
</div>
