@model List<Dish>
@{
    ViewData["Title"] = "Home Page";
}
<h1>Welcome to CRUDelicious!</h1>
<p>Check out these dishes:</p>
@{
    @foreach(Dish curDish in @Model)
    {
        <p><a href="/dishes/@curDish.DishId">@curDish.Name</a> by @curDish.Chef</p>
    }
}
