<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/my_styles.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <span>Home</span> | <a href="/projects">Projects</a> | <a href="/contact">Contact</a>
    </nav>
    <h1>About me</h1>
    <div class="infobox">
        <img src="~/img/csharpIcon.png" alt="C sharp icon" height="150px">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Donec ac odio tempor orci. A pellentesque sit amet porttitor eget dolor. Tristique senectus et netus et malesuada. In massa tempor nec feugiat nisl pretium fusce. Enim nunc faucibus a pellentesque sit amet porttitor eget. Pretium fusce id velit ut tortor pretium viverra suspendisse. Tincidunt arcu non sodales neque sodales ut. Parturient montes nascetur ridiculus mus. Egestas pretium aenean pharetra magna. Vitae nunc sed velit dignissim sodales ut. Sit amet facilisis magna etiam tempor orci eu lobortis. Id aliquet risus feugiat in ante metus. Maecenas ultricies mi eget mauris pharetra. Dolor sit amet consectetur adipiscing elit duis tristique. Nec nam aliquam sem et. Cursus risus at ultrices mi tempus imperdiet. Vitae tortor condimentum lacinia quis vel eros donec ac odio. Massa tincidunt dui ut ornare. Maecenas ultricies mi eget mauris pharetra et. Consectetur lorem donec massa sapien. Dui faucibus in ornare quam viverra orci sagittis eu. Orci porta non pulvinar neque laoreet. Ornare lectus sit amet est placerat in egestas. Faucibus purus in massa tempor nec feugiat nisl pretium fusce. Ut diam quam nulla porttitor massa id. Auctor urna nunc id cursus metus aliquam eleifend mi in. Justo laoreet sit amet cursus sit amet dictum sit amet. Sem integer vitae justo eget magna fermentum. Vulputate odio ut enim blandit volutpat maecenas volutpat blandit. Ut morbi tincidunt augue interdum velit euismod in pellentesque massa. Scelerisque mauris pellentesque pulvinar pellentesque habitant morbi tristique senectus et. At consectetur lorem donec massa sapien faucibus et molestie. In mollis nunc sed id semper risus. Pharetra sit amet aliquam id diam. Euismod in pellentesque massa placerat duis ultricies lacus sed. Feugiat vivamus at augue eget arcu dictum. Lectus magna fringilla urna porttitor. Blandit libero volutpat sed cras. Id aliquet risus feugiat in ante metus dictum at tempor. Lacus laoreet non curabitur gravida arcu ac. Aenean pharetra magna ac placerat vestibulum lectus mauris. Tellus mauris a diam maecenas sed enim ut. In vitae turpis massa sed. Quis auctor elit sed vulputate mi sit amet. Id diam vel quam elementum pulvinar etiam non quam lacus. Purus in massa tempor nec feugiat nisl pretium fusce. Senectus et netus et malesuada fames ac turpis egestas sed.
    </div>
</body>
</html>