<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/my_styles.css">
    <script src="~/js/projects.js"></script>
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="/">Home</a> | <span>Projects</span> | <a href="/contact">Contact</a>
    </nav>
    <h1>My projects</h1>
    <div id="all_projects">
        <div class="infobox">
            <img src="~/img/csharpIcon.png" alt="C sharp icon" height="150px" onclick="displayGreeting(this)">
            <div>
                <p>Project 1</p>
                <p>I love this project! I love this project! I love this project! I love this project! I love this project! I love this project! I love this project! I love this project! I love this project! I love this project! I love this project! I love this project! I love this project! I love this project! I love this project! I love this project! I love this project! I love this project! I love this project! I love this project! I love this project! I love this project! I love this project! I love this project! I love this project! I love this project! I love this project! I love this project! I love this project! I love this project! </p>
            </div>
        </div>
        <div class="infobox">
            <img src="https://upload.wikimedia.org/wikipedia/en/3/30/Java_programming_language_logo.svg" alt="Java icon" height="150px" onclick="displayGreeting(this)">
            <div>
                <p>Project 2</p>
                <p>I love this project! I love this project! I love this project! I love this project! I love this project! I love this project! I love this project! I love this project! I love this project! I love this project! I love this project! I love this project! I love this project! I love this project! I love this project! I love this project! I love this project! I love this project! I love this project! I love this project! I love this project! I love this project! I love this project! I love this project! I love this project! I love this project! I love this project! I love this project! I love this project! I love this project! </p>
            </div>
        </div>
        <div class="infobox">
            <img src="https://upload.wikimedia.org/wikipedia/commons/c/c3/Python-logo-notext.svg" alt="Python icon" height="150px" onclick="displayGreeting(this)">
            <div>
                <p>Project 3</p>
                <p>I love this project! I love this project! I love this project! I love this project! I love this project! I love this project! I love this project! I love this project! I love this project! I love this project! I love this project! I love this project! I love this project! I love this project! I love this project! I love this project! I love this project! I love this project! I love this project! I love this project! I love this project! I love this project! I love this project! I love this project! I love this project! I love this project! I love this project! I love this project! I love this project! I love this project! </p>
            </div>
        </div>
    </div>
</body>
</html>