@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col">
        @await Html.PartialAsync("_RegistrationForm")
    </div>
    <div class="col">
        @await Html.PartialAsync("_LoginForm")
    </div>
</div>
